<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>QUIZ ADMIN PANNEL</title>
    <script>
        function updateTimes() {
            fetch('/get_times')
                .then(response => response.json())
                .then(data => {
                    let container = document.getElementById("time-list");
                    container.innerHTML = "";  
    
                    for (let user in data) {
                        let item = document.createElement("div");
                        let time = data[user];  
                        item.innerText = user + ": " + time;
                        // item.innerText = user;
                        container.appendChild(item);
                    }
                })
                .catch(error => console.error("Ошибка:", error));
        }
        setInterval(updateTimes, 1000);  
    </script>  
</head>
<body>
    <form method="POST" action="/clear">
            <button id="clear" type="submit">ОБНОВИТЬ</button>
        </form>
    <div id="time-list"></div>
</body>
</html>